import { FC } from "react";
/* components */
/* modules */
import clsx from 'clsx';
/* helpers */
/* assets */
/* services */
/* constants */
/* styles */
import s from './{{properCase name}}.module.scss'
/* types */

const {{properCase name}}: FC = () => {
return <div className={s.{{camelCase name}} }>
    {{properCase name}}
</div>;
};

export default {{properCase name}}